$primary-base: #FF4A00;
$soft-200: #E2E4E9;
$soft-400: #868C98;
$weak-100: #F6F8FA;
$sub-500: #525866;
$main-900: #0A0D14;
$white-0: #FFFFFF;
$purple-base: #6E3FF3;
$red-base: #DF1C41;
$pink-base: #E255F2;
$verified: #35B9E9;