@import "colors";
@import "spacing";
@import "text";
@import "grid";
@import "display";
@import "table";

.icon-sm {
  color: $sub-500;
  height: 20px;
  width: 20px;
}

@media (max-width: 900px) {
  .hide-on-mobile {
    display: none;
  }
}
